
h2 {
    text-align: center;
    padding:  10px 0;
    background-color:rgb(167, 170, 125); 
    color: white;
    border-radius: 50px;
    
}




.text-muted {
    text-align: center;
    padding-bottom: 50px;
    
    color:green !important;
}


label {
    margin-bottom: 20px;
    margin-top: 20px;
    color: red;
}

.baitaphai, .baitapba, .baitapbon, .baitapnam  {
    padding-top: 50px;
}

